@import url('https://fonts.googleapis.com/css?family=Tangerine');
.container-fluid{
  background-color:black;
  font-family: '', serif;
  overflow-x: hidden;
}
.login{
  font-family: 'Tangerine', serif;
}

.signup{
  font-family: 'Tangerine', serif;

}
.blog{
  font-family: 'Tangerine', serif;

}
.home{
  font-family: 'Tangerine', serif;

}
.profile{
  font-family: 'Tangerine', serif;
}
